{% extends "layout_main.html" %}

{% block style %}
<style>
    body {
        background-color: #efefef;
    }

    .element-card {
        background-color: white;
        padding: 10px;
        border-radius: 1px;
        box-shadow: 0 1px 5px grey;
        margin: 10px;
        cursor: default;
    }

    .element-card-list {
        margin: 0;
    }

    .btn:focus, .btn:active {
        outline: none !important;
        box-shadow: none;
    }

    .dropdown-toggle::after {
        display: none
    }

    .element-card-fixed-width {
        width: 300px;
    }
</style>
{% endblock %}

{% block content %}
<div id="blog-posts-list-container">
</div>

<script type="text/x-template" id='fe-template-blog_posts_list-list'>
    <button class="btn btn-success action-new" data-model-name="blog_post" data-toggle="modal"
            data-target="#worldwide-modal">New Blog Post
    </button>
    <div class="elements-list"></div>
</script>
<script type="text/x-template" id='fe-template-blog_posts_list-element'>
    <div class="element-card element-card-list element-card-fixed-width">
        <button class="btn btn-lg pull-right dropdown-toggle highlightable"
                data-toggle="dropdown" style="background-color: initial;">
            <i class="fa fa-ellipsis-v"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item action-edit" data-model-name="blog_post" href="#">Edit</a>
            <a class="dropdown-item action-delete" href="#">Delete</a>
        </div>
        <p class="lead">
            <%- data.title %>
        </p>
        <p>
            <%- data.body %>
        </p>
    </div>
</script>
<script type="text/x-template" id='fe-template-edit-blog_post'>
    <div class="row">
        <div class="col-12">
            <div class="form-group input-full-width">
                <div class="editable-title"><%= data.title %></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group input-full-width">
                <div class="editable-body"><%= data.body %></div>
            </div>
        </div>
    </div>
</script>
{% endblock %}

{% block script %}
<script>
    // Register the service worker
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js').then(function (registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
        }).catch(function (err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
        });
    }
</script>
<script>
    new AppListView({
        el: '#blog-posts-list-container',
        collection: COLLECTIONS['blog_post'],
        collectionName: 'blog_post',
        options: {},
        name: 'blog_posts_list',
        type: 'list',
        ElementViewClass: AppElementView
    });
</script>
{% endblock %}