<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>{{ title or "App" }}</title>
    {% include "favicons.html" %}
    {% import "_macros.html" as macros %}
    {{ macros.include_css('layout') }}
    {% block style %}{% endblock %}
</head>
<body>
{% include "modal.html" %}
<div id="flashed-messages-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{% if category == 'message' %}danger{% else %}{{ category }}{% endif %}
            alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% if crudy_templates %}
    {% for fe_template in crudy_templates %}
        <script type="text/x-template" id='fe-template-core-{{ fe_template.split('.')[0] }}'>
            {% include '/crudy/templates/' + fe_template %}
        </script>
    {% endfor %}
{% endif %}

<script>
  var DEBUG = {% if config.DEBUG %}true{% else %}false{% endif %}
  {% if models %}
    var MODELS = {
      {% for model in models.itervalues() %}
        "{{ model.name }}":
          {
            name: "{{ model.name }}",
            nameHuman: "{{ model.human_name }}",
            namePlural: "{{ model.name_plural }}",
            defaults: {},
            constants: {{ model.model_constants|tojson }},
            elements: {{ model.elements|tojson }},
            modelMethods: function (ctx) {
              return {}
            },
            collectionMethods: function (ctx) {
              return {}
            }
          },
      {% endfor %}
    };
  {% endif %}
</script>
{{ macros.include_js('layout') }}
{% block script %}{% endblock %}
</body>
</html>
